@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;